.wrapper {
    animation: skeleton_loading 1.5s linear infinite alternate;
}

@keyframes skeleton_loading {
    0% {
        background-color: var(--darker-light-gray);
    }

    50% {
        background-color: var(--light-gray);
    }

    100% {
        background-color: var(--darker-light-gray);
    }
}